/*
the colors
  backhround:  #ebe4e4
  dark text: #635553
  brown: #5B4644;
  coffee: #87624F;
  tan: #DAB7A3;
  white: #F4E8DA;
  water: #859FB5;
  
*/


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Bodoni Moda', serif;
	
	
  }
  html {
    display: grid;
    min-height: 100%;
    
  }

body {
    background: #ebe4e4;
    display: grid;
    overflow-x: hidden; 
  }

  
  h3 {
    font-size: 0.8em;
    letter-spacing: 1px;
    font-weight: 100;
    text-transform: uppercase;
  }
  
  .container {
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 500px;
    height: 700px;
    top: 50px;
  }
  
  .bar {
    position: absolute;
    height: 85%;
    width: 2px;
    left: 7%;
    top: 7.5%;
    background:#e0bfb3;
  }
  
  .circle {
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    left: -4px;
    border: 1px solid #5e0202;
   
    
  }
  
  .top {
    background: #5B4644;
    top: -1%;
  }
  .middle {
    background: #87624F;
    top: 38%;
  }
  .bottom {
    background: #DAB7A3;
    bottom: -1%;
  }
  
  .bold {
    color: #87624F;
    position: absolute;
    top: -7%;
    left: -17px;
  }
  
  .creamy {
    color: #b19484;;
    position: absolute;
    bottom: -7%;
    left: -27px;
  }
  
  .info {
    width: 55%;
    height: 100%;
    position: absolute;
    left: 43%;
  }
  
  /*coffee cup drawings*/
  
  .coffee-cups {
    width: 40%;
    height: 100%;
    position: absolute;
    left: 10%;
    top: 3%;
  }
  
  .handle {
    position: absolute;
    height: 20px;
    width: 15px;
    background: transparent;
    border-radius: 50% 30%;
    left: 95%;
    top: 10%;
    z-index: -1;
    border: 2px solid #5e0202;
  }
  
  .cup {
    position: absolute;
    width: 70px;
    height: 55px;
    background: #252C32; 
    border: 2px solid #5e0202;
    border-radius: 0 0 5rem 5rem;
    left: 20%;
  }
  
  .cup-small {
    position: absolute;
    width: 55px;
    height: 40px;
    background: #252C32;
    border: 2px solid #5e0202;
    border-radius: 0 0 5rem 5rem;
    left: 23%;
  }
  
  .cup-long {
    position: absolute;
    width: 60px;
    height: 70px;
    background: #252C32;
    border: 2px solid #5e0202; 
    border-radius: 10% 10% 50% 50%;
    left: 22%;
  }
  
  .doppio {
    top: 5%;
    background: linear-gradient(to bottom, #ebe4e4 40%, #5B4644 40%, #87624F 70%);
  }
  
  .americano {
    top: 18.5%;
    background: linear-gradient(to bottom, #ebe4e4 13%, #859FB5 13%, #859FB5 50%, #87624F 50%);
  }
  
  .macchiato {
    top: 35%;
     background: linear-gradient(to bottom, #ebe4e4 20%, #F4E8DA 20%, #F4E8DA 40%, #87624F 40%);
  }
  
  .flatwhite {
    top: 50%;
    background: linear-gradient(to bottom, #ebe4e4 10%, #F4E8DA 10%, #DAB7A3 60%, #87624F 65%, #5B4644 90%);
  }
  
  .cappuccino {
    top: 64%;
    background: linear-gradient(to bottom, #F4E8DA 50%, #DAB7A3 50%, #DAB7A3 55%, #87624F 60%);
  }
  
  .latte {
    top: 81%;
    background: linear-gradient(to bottom, #ebe4e4 5%, #F4E8DA 5%, #F4E8DA 30%, #DAB7A3 30%, #DAB7A3 70%, #87624F 70%);
  }
  
  /*description*/
  h1 {
    color: #635553;
    font-size: 1em;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  
  p {
    color: #635553;
    text-transform: none;
    font-size: 0.7em;
    letter-spacing: 0.5px;
    margin-top: -1px;
    text-transform: uppercase;
  }
  
  .first, .second, .third, .fourth, .fifth, .sixth {
    position: absolute;
  }
  
  .first {
    top: 7%;
  }
  
  .second {
    top: 21%;
  }
  
  .third {
    top: 36%;
  }
  
  .fourth {
    top: 52%;
  }
  
  .fifth {
    top: 65%;
  }
  
  .sixth {
    top: 83%;
  }
  
  
  /*key for the colors*/
  .small {
    margin-left: 20px;
    margin-top: -1px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .key {
    position: relative;
    margin: auto;
    width: 500px;
    height: 200px;
    top: 50px;
  }
  
  .espresso {
    background: #5B4644;
    position: absolute;
    left: 17%;
  }
  
  .milk {
    background: #DAB7A3;
    position: absolute;
    left: 40%;
  }
  
  .foam {
    background: #e0bfb3;
    position: absolute;
    left: 63%;
  }
  
  .water {
    background: #859FB5;
    position: absolute;
    left: 83%;
  }
  

/*--------------- coffee point footer  ---------------------------*/
/*--------------- Social footer  ---------------------------*/
.icons-footer{
	display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 30px;	
}
.social-icons{
  display: block; 
  height: 50px;	
}

.instagram:hover img{
	transform: translateY(0.30em);
	border-color: #e0bfb3;
	border-style: solid;
	border-radius: 6px;
	border-width: 3px;
}
.twitter:hover img{
	transform: translateY(0.30em);
	border-color: #e0bfb3;
	border-style: solid;
	border-radius: 6px;
	border-width: 3px;
}
.linkedin:hover img{
	transform: translateY(0.30em);
	border-color: #e0bfb3;
	border-style: solid;
	border-radius: 6px;
	border-width: 3px;
	
}
 

/*--------------- The End of footer  ---------------------------*/

hr {
    border: 1px solid #e0bfb3;
    margin-bottom: 0px;
    width: 90%;
  }

.coffee-point-footer {
    align-items: center;
    background-color: #bba399;
    color: #635553;
    display: flex;
    flex-direction: column;
    height: 130px;
    justify-content: center;
  }
.coftee-copyright{
	position: relative;
	top: 10px;
}



  
@media screen and (max-width: 970px) {
	
  
  .container {
    position: relative;
    margin-bottom: 20px;
    padding-left: 70px;
    justify-content: space-between;
    overflow: hidden;
    width: 300px;
    height: 500px;
    top: 50px;
  }
  .creamy {
    color: #b19484;;
    position: absolute;
    bottom: -7%;
    left: -20px;
  }

  .coffee-cups {
    width: 40%;
    height: 100%;
    
  }
  
  .handle {
   
    height: 10px;
    width: 9px;
   
  }
  
  .cup {
    
    width: 50px;
    height: 35px;
    
  }
  
  .cup-small {
    
    width: 35px;
    height: 20px;
    ;
  }
  
  .cup-long {
   
    width: 40px;
    height: 50px;
   
  }
  .key {
    position: relative;
    margin-top: -60px;
    padding: 100px;
    margin-left: 20px;
    left:-40px;
    width: 370px;
    height: 150px;
    top: 50px;
  }

  .small {
    margin-left: 13px;
    margin-top: -3px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
      
      }